<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--favicon-->
    <link rel="icon" type="image/png" sizes="32x32" href="/">
    <!--Materialize Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Materialize Icons-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.css" media="screen,projection" />
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--DC CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/clean-blog.min.css" type="text/css" />
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" id="nav-home">Iron Temple Training</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>       
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image:url(../static/img/irontemple.jpg) ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Iron Temple Training</h1>
                        <span>Lord forgive me for these gains.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>

    <!--Footer-->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                © 2021 Copyright
                </div>
    </footer>

    <!-- SCRIPTS -->

</body>

</html>
