{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <h2 class="center">{{page_title}}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-12">
<h1>Crusade to Retake the Holy Land.</h1>
<p>In this simple workout plan the crusader-to-be will preform the classic big three lifts Bench, Squat, Deadlift along with accessory exercises. This will take you from a pitiful chamber maid to a king slayer.</p>

<table style="width:50%">
  <tr>
    <th>Lift</th>
    <th>Sets</th> 
    <th>Reps</th>
  </tr>
  <tr>
    <td>Bench</td>
    <td>3</td>
    <td>8-12</td>
  </tr>
  <tr>
    <td>Squat</td>
    <td>3</td>
    <td>8-12</td>
  </tr>
  <tr>
    <td>Deadlift</td>
    <td>3</td>
    <td>8-12</td>
  </tr>
    <tr>
    <td>Pull ups</td>
    <td>3</td>
    <td>8-12</td>
  </tr>
    <tr>
    <td>Dumbbell Curl</td>
    <td>3</td>
    <td>8-12</td>
  </tr>
    <tr>
    <td>Knee ups</td>
    <td>3</td>
    <td>8-12</td>
  </tr>
</table>
<hr>

<h1>Fair Madien Slayer</h1>
<p></p>

<table style="width:50%">
    <tr>
      <th>Lift</th>
      <th>Sets</th> 
      <th>Reps</th>
    </tr>
    <tr>
      <td>Bench</td>
      <td>3</td>
      <td>8-12</td>
    </tr>
    <tr>
      <td>Squat</td>
      <td>3</td>
      <td>8-12</td>
    </tr>
    <tr>
      <td>Deadlift</td>
      <td>3</td>
      <td>8-12</td>
    </tr>
      <tr>
      <td>Pull ups</td>
      <td>3</td>
      <td>8-12</td>
    </tr>
      <tr>
      <td>Dumbbell Curl</td>
      <td>3</td>
      <td>8-12</td>
    </tr>
      <tr>
      <td>Knee ups</td>
      <td>3</td>
      <td>8-12</td>
    </tr>
  </table>
<hr>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
